* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	scroll-behavior: smooth;
	text-decoration: none;
}


 :root {
    --text-color: #fff;
    --second-color: #;
    --third-color: #;
    --h1-font: 5vh;
    --h2-font: 2.5vh;
    --p-font: 2vh;
} 

body {
    background: url(../img/background.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    color: var(--text-color);
    overflow: hidden;
}


.title {
    margin-top: 5vh;
    margin-bottom: 4vh;
    text-align: center;
}

h1 {
    font-size: var(--h1-font);
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 10vw;
    min-width: 1100px;
}

.left {
    width: 40vw;    
}

.right {
    width: 40vw;
}

.coins p {
    font-size: var(--h2-font);
    padding-left: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.coins img {
    width: 3.5vw;
}

.coins p span {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.foodbox {
    display: flex;
    justify-content: center;
}

.food {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4vh 4vw;
    background-color: rgba(17, 8, 32, 0.7);
    box-shadow: inset 0px 0px 10px rgba(1, 4, 22, 0.6);
    border-radius: 30px;
}

.food h2 {
    letter-spacing: 6px;
    font-size: var(--h2-font);
}

.food__pic {
    display: flex;
    justify-content: space-between;
}

.food__one p, .food__two p {
    display: flex;
    justify-content: center;
    font-size: var(--p-font);
}

.food__pic img {
    width: 5vw;
    margin: 30px 50px;
    border: 3px solid #7a679f;
    border-radius: 10px;
    transition: 0.5s;
}

.food__pic img:hover {
    background-color: #7a679f;
    cursor: pointer;
    transform: scale(1.1);
}

.cat {
    display: flex;
    justify-content: center;
}

.cat img {
    margin-top: 20px;
    height: 43vh;
    width: auto;
    position: absolute;
    bottom: 6px;
}


/* ----- right ----- */

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    height: 6vh;
    flex: 1 1 0%;
    background-color: rgba(17, 8, 32, 0.7);
    box-shadow: inset 0px 0px 10px rgba(1, 4, 22, 0.6);
    padding: 1.3rem;
    border-radius: 1rem;
    color: white
}

#new-task-submit, #add-coins {
    background-color: #9981c7;
    border-radius: 1rem;
    color: white;
    height: 6vh;
    font-size: 1.7vh;
    padding: 1rem 1.5rem ;
    font-family: 'Press Start 2P', cursive;
}

#new-task-submit {
    margin-left: 20px;
}

#add-coins {
    margin-top: 20px;
}

#new-task-submit:hover, #add-coins:hover {
    cursor: pointer;
    background-color: #7a679f;
}

#new-task-input::placeholder {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2vh;
}

#new-task-input[type="text"] {
    font-family: 'Press Start 2P', cursive; 
}

#new-task-form {
    display: grid;
    grid-template-columns: 70% auto;
    gap: 3px
}

.tasksbox {
    padding: 10px;
    padding-left: 20px;
    margin-top: 30px;
    border-left: 3px solid #9981c7;
    border-right: 3px solid #9981c7;
    overflow: scroll;
    overflow-x:hidden; 
    height: 56vh;
    width: 40vw;
    scrollbar-width: thin;
    scrollbar-color: #9981c7 rgba(1, 4, 22, 0.6);
}

.tasklist {
    margin-right: 20px;
}

.task {
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(17, 8, 32, 0.7);
    box-shadow: inset 0px 0px 10px rgba(1, 4, 22, 0.6);
    padding: 1.3rem;
    border-radius: 1rem;
}

.checkbox-circle input {
    display: block;
    position: relative;
    cursor: pointer;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
}

.checkbox-circle label {
    padding-left: 45px;
    padding-top: 5px;
    font-size: 1.5vh;
}

.checkbox-circle input:hover, label:hover {
    color: #9981c7;
    cursor: pointer;
    transition: 0.3s;
}

.checkbox-circle input:hover, label:before {
    border: 4px solid white;
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    background-color: #9981c7;
    transition: 0.2s;

}

.checkbox-circle {
    position: relative;
}

.checkbox-circle input, label:before {
    border: 1px solid white;
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
}

.checkbox-circle input:checked, label:before {
    border: 2px solid white;
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    background-color: #9981c7;
}

.checkbox-circle label {
    padding-top: 0;
}

.actions button {
    color: #9981c7;
    font-size: 1.5vh;
    font-family: 'Press Start 2P', cursive;
    padding-left: 10px;
    transition: 0.5s;
}

.actions button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.task.checked label {
    text-decoration: line-through;
    color: gray;
}

.show {
    display: block;
}

.nonShow {
    display: none;
}

#limit {
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 10px;
    color: gray;
}

/* @media screen and (max-width:1100px) {
    body {
        overflow: scroll;
    }
    .container {
        flex-direction: column; 
        justify-content: space-between;
    }
    .left, .right, .coins, .food, .cat{
        width: 100%;
    }
    .right {
        padding-top: 500px;
    }
} */
