* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	scroll-behavior: smooth;
	text-decoration: none;
}

 :root {
    --text-color: #fff;
    --second-color: #;
    --third-color: #;
    --h1-font: 3rem;
    --h2-font: 1.6rem;
    --p-font: 1.5rem;
} 

body {
    background: url(../img/background.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    color: var(--text-color);
    overflow: hidden;
}

img {   
    width: 100px;
}

.title {
    margin: 50px;
    text-align: center;
}

h1 {
    font-size: var(--h1-font);
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 30px 250px;
}

.left {
    width: 600px;
}

.right {
    width: 700px;
}

.coins img {
    width: 60px;
}

.coins p {
    font-size: var(--p-font);
    padding-left: 50px;
}

.coins p span {
    display: inline-block;
    height: 70px;
    vertical-align: middle;
}

.food {
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
    background-color: rgba(17, 8, 32, 0.7);
    box-shadow: inset 0px 0px 10px rgba(1, 4, 22, 0.6);
    border-radius: 30px;
    margin: 0 60px;
}

.food h2 {
    margin-top: 25px;
    letter-spacing: 6px;
    font-size: var(--h2-font);
}

.food__pic {
    display: flex;
    justify-content: space-between;
}

.food__one p, .food__two p {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.food__pic img {
    width: 100px;
    margin: 30px 40px;
    border: 3px solid #7a679f;
    border-radius: 10px;
    transition: 0.5s;
}

.food__pic img:hover {
    background-color: #7a679f;
    cursor: pointer;
    transform: scale(1.1);
}

.cat {
    display: flex;
    justify-content: center;
}

.cat img {
    height: 400px;
    width: auto;
    margin-left: 60px;
    margin-top: 20px;
}

/* ----- right ----- */

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: rgba(17, 8, 32, 0.7);
    box-shadow: inset 0px 0px 10px rgba(1, 4, 22, 0.6);
    padding: 1.3rem;
    border-radius: 1rem;
    color: white
}

#new-task-submit, #add-coins {
    background-color: #9981c7;
    padding: 1.3rem;
    border-radius: 1rem;
    color: white;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
}

#new-task-submit {
    margin-left: 20px;
}

#add-coins {
    margin-top: 20px;
}

#new-task-submit:hover, #add-coins:hover {
    cursor: pointer;
    background-color: #7a679f;
}

#new-task-input::placeholder {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

#new-task-input[type="text"] {
    font-family: 'Press Start 2P', cursive; 
}

#new-task-form {
    display: grid;
    grid-template-columns: 70% auto;
    gap: 3px
}

.tasksbox {
    padding: 10px;
    padding-left: 20px;
    margin-top: 30px;
    border-left: 3px solid #9981c7;
    border-right: 3px solid #9981c7;
    overflow: scroll;
    overflow-x:hidden; 
    height: 500px;
    scrollbar-width: thin;
    scrollbar-color: #9981c7 rgba(1, 4, 22, 0.6);
}

.tasklist {
    margin-right: 20px;
}

.task {
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(17, 8, 32, 0.7);
    box-shadow: inset 0px 0px 10px rgba(1, 4, 22, 0.6);
    padding: 1.3rem;
    border-radius: 1rem;
}

.checkbox-circle input {
    display: block;
    position: relative;
    cursor: pointer;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
}

.checkbox-circle label {
    padding-left: 45px;
    padding-top: 5px;
    font-size: 13.5px;
}

.checkbox-circle input:hover, label:hover {
    color: #9981c7;
    cursor: pointer;
    transition: 0.3s;
}

.checkbox-circle input:hover, label:before {
    border: 4px solid white;
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    background-color: #9981c7;
    transition: 0.2s;

}

.checkbox-circle {
    position: relative;
}

.checkbox-circle input, label:before {
    border: 1px solid white;
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
}

.checkbox-circle input:checked, label:before {
    border: 2px solid white;
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    background-color: #9981c7;
}

.checkbox-circle label {
    padding-top: 0;
}

.actions button {
    color: #9981c7;
    font-size: 13px;
    font-family: 'Press Start 2P', cursive;
    padding-left: 10px;
    transition: 0.5s;
}

.actions button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.task.checked label {
    text-decoration: line-through;
    color: gray;
}

.show {
    display: block;
}

.nonShow {
    display: none;
}

#limit {
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 10px;
    color: gray;
}
